{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/img/favicon/favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% block style %} {% endblock %}
</head>
<body>
    {% block content%}

    {% endblock %}
    
    {% block footer %}
    <footer class="footer has-background-grey-darker">
        <div class="content has-text-centered has-text-white-bis">
          <p>
            <strong style="color: white;">Django</strong> is a Python-based free and open-source web framework, which follows the model-template-view architectural pattern.   
          </p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>