{% extends 'base.html' %}
{% load static %}

{% block title %} ChatBot {% endblock %}
{% block style %} <style>
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style> {% endblock %}
{% block content %}

    <div class="section">
        <div class="container">
            <div class="tile is-ancestor">
            
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6">
            <div class="card events-card">
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                                <tr>
                                    <td>{{output}}</td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <form action="#" method="POST"> {% csrf_token %}
                                        <td>    
                                            <input name="input" class="input" type="text" placeholder="Enter text..." autofocus>    
                                        </td>
                                        <td class="level-right">
                                            <button class="button"> 
                                                <span class="icon is-small">
                                                    <i class="fas fa-paper-plane"></i>
                                                </span>
                                            </button>
                                        </td>
                                    </form>    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>        
  
{% endblock %}
